#Ignore log files and databases
*.log
*.sql
*.sqlite
*.stackdump
#Ignore Windows files and folders
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
$RECYCLE.BIN/
[Dd]esktop.ini
#Ignore MacOS files and folders
.DS_Store
.AppleDouble
.LSOverride
._*
#Ignore node dependency directories
node_modules/
#Ignore CRO & Jet - c2f28bcb4213f5d43a3d2be8448021f3
.cro
.jet